---
import logo from "../images/lvx-websites-logo.svg";
import ButtonContact from "./ButtonContact.astro";
---

<section class="bg-gradient-to-b from-yellow-300 to-amber-300 mb-24">
  <div class="container mx-auto px-4">
    <div class="pt-8">
      <img src={logo.src} alt="LVX Websites logo" class="h-14" />
    </div>

    <div class="py-32">
      <h1 class="text-3xl sm:text-4xl lg:text-6xl font-medium mb-3">High performing websites<br />for small businesses</h1>

      <p class="text-lg sm:text-xl lg:text-2xl mb-8">Lifetime updates. All inclusive monthly fee. Zero stress.</p>

      <ButtonContact />
    </div>
  </div>
</section>
