---
import H2 from "./H2.astro";
---

<section class="mb-24">
  <div class="container mx-auto px-4 text-center">
    <H2 text="Our Portfolio" />

    <h3 class="text-lg lg:text-xl font-medium mb-2">Coming Soon</h3>
    <p class="">We're like the shoe cobblers that have been wearing the same beat up ol' boots for ages&mdash;too busy working on client stuff to work on our own! 😅</p>
  </div>
</section>
