---
import logo from "../images/lvx-websites-logo.svg";

const year = new Date().getFullYear();
---

<footer class="py-24 bg-slate-700 text-slate-300">
  <div class="container mx-auto px-4">
    <img src={logo.src} alt="LVX Websites logo" class="h-14 mb-8" />

    <p class="text-xs">Copyright &copy; {year}. All rights reserved.</p>
  </div>
</footer>
