---
import ButtonContact from "../components/ButtonContact.astro";
import NetworkAbstractArt from "../images/network-abstract-art-light.svg";
---

<section class="py-24 mb-24 relative overflow-clip border-t border-b border-slate-300 bg-gradient-to-b from-slate-200 to-slate-300 -z-10">
  <img src={NetworkAbstractArt.src} class="art" />
  <div class="container mx-auto text-center">
    <h2 class="text-3xl lg:text-4xl font-medium mb-5">Have questions?</h2>
    <p class="mb-5 text-lg">Let's chat about your business and how a professional website can help it grow</p>
    <ButtonContact />
  </div>
</section>

<style>
	.art {
		position: absolute;
		z-index: -1;
		min-width: 2600px;
		top: -888px;
		left: -88px;
		rotate: -28deg;
		opacity: 0.55;
	}
</style>
